@import "tailwindcss";

@plugin "daisyui" {
  themes: ["light", "dark"] /* デフォルトをlightにする */
}


@plugin "daisyui/theme" {
  name: "cgm";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: #d5d7d7;
  --color-base-300: oklch(100% 0 0);
  --color-base-content: #373735;
  --color-primary: #D7B84A;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(98% 0.002 247.839);
  --color-secondary-content: #373735;
  --color-accent: #EC6C6E;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: #D7B84A;
  --color-neutral-content: oklch(98% 0 0);
  --color-info: #72BCBE;
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: #72BCBE;
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: #d5d7d7;
  --color-warning-content: #373735;
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(97% 0.013 17.38);
  --color-yellow-200: #EEDF96;
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
