<div class="container mx-auto px-5 py-10 text-center">
  <h1 class="text-xl font-bold mb-5">
    <%= @gift_list.recipient_name %>さんへ贈る<br>
    <%= @gift_list.purpose.presence || "ギフトリスト" %>
  </h2>

    <% if @gift_items.present? %>
      <div class="grid grid-cols-2 grid-rows-2 gap-5 md:grid-cols-3">
        <%= render partial: "gift_items/shared_gift_item", collection: @gift_items, as: "gift_item" %>
      </div>
    <% else %>
      <div class="">
        登録されたギフトがありません
      </div>
    <% end %>
</div>