<div class="m-2">
<ul class="menu">
  <li><%= link_to gift_list_path(gift_list)  do %><strong class="md:font-bold"><%= "#{gift_list.recipient_name}"%></strong>さんへ贈る
    <strong class="text-left"><%= "#{gift_list.purpose.presence || 'ギフトリスト'}" %></strong><% end %></li>
</ul>
</div>