<div class="container mx-auto px-5 py-10 text-center">
  <h1 class="text-xl font-bold">ギフトリスト名を編集</h1>
  <div class="mx-auto">
  <%= render "form", gift_list: @gift_list %>
  </div>
  <%= link_to "< ギフト一覧へ戻る", gift_list_path(@gift_list), class: "link" %>
</div>