<div class="">
<h2 class="text-3xl font-bold">ギフトリスト一覧</h2>

  <% if @gift_lists.present? %>
    <%= render @gift_lists %>
  <% else %>
    <div class="">
      ギフトリストはまだありません<br>
      ギフトリストを作成しましょう！
    </div>
  <% end %>

</div>