<div class="container mx-auto px-5 py-10 text-center">
<h1 class="text-xl font-bold">ギフトリスト一覧</h1>
  <div class="mt-2">
    <% if @gift_lists.present? %>
      <%= render @gift_lists %>
    <% else %>
      <div class="">
        ギフトリストはまだありません<br>
        ギフトリストを作成しましょう！
      </div>
    <% end %>
  </div>
</div>