<div class="">
  <h2 class="text-xl font-bold">
    <%= "#{@gift_list.recipient_name}"%>さんへ贈る<br>
    <%= "#{@gift_list.purpose.presence || 'ギフトリスト'}" %>
  </h2>
  <%= link_to "タイトルの編集", edit_gift_list_path, {class: "text-sm"}%>
</div>