<%= link_to gift_item_path(gift_item) do %>
  <div class="card w-96 bg-base-100 card-sm shadow-sm">
    <figure>
      <%= image_tag gift_item.image.presence || "https://placehold.jp/400x300.png?text=sample" %>
    </figure>
    <div class="card-body">
      <h2 class="card-title"><%= gift_item.name %></h2>
      <div class="card-actions justify-end text-right">
        <p class="underline">ギフトの詳細を見る ></p>
      </div>
    </div>
  </div>
<% end %>