<div class="btn mt-4">このギフトを選びました</div>
<!--<%= button_to "このギフトを選びました", { controller: "shared_gift_lists", action: "choose" }, { params: {gift_item_id: gift_item.id}, class: "btn mt-4",data: { turbo_confirm: "ギフトを選びなおしますか？" } } %>-->