<div class="container mx-auto px-5 py-10 text-center">
  <h1 class="text-xl font-bold mb-5">ギフトを登録</h1>
  <%= render "new_form", gift_item: @gift_item %>
  <div class="mt-10">
    <%= link_to "< ギフト一覧へ戻る", gift_list_path(@gift_list), class: "link" %>
  </div>
</div>